*,
::after,
::before {
	box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 0;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
.site-box {
	display: flex;
	align-items: center;
	gap: 20px;
	&__title {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		font-size: 38px;
		line-height: 45px;
		/* identical to box height */

		color: #202020;
	}
	&__text {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		text-decoration-line: underline;

		color: #d2374a;
	}
}
.nav__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	/* or 312% */

	color: #202020;
}

.nav__item + .nav__item {
	margin-left: 31px;
}

.nav {
	&__list {
		display: flex;
	}
	&__item {
	}
	&__link {
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 50px;
		/* or 312% */

		color: #202020;
	}
}
.main {
	background-color: #d2374a;

	padding-bottom: 46px;
}
.category {
	padding-top: 46px;
	&__wrapper {
		display: flex;
		flex-wrap: wrap;

		justify-content: space-between;
	}

	&__item {
		width: 306px;
		height: 304px;
		position: relative;
		border: none;
	}
	&__title {
		margin-bottom: 70px;
		margin-left: 60px;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;

		color: #202020;
	}
	&__img {
		position: absolute;
		right: 0;
		bottom: 10%;
	}

	&__img-back {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}
.cash-back {
	padding-top: 50px;

	&__box {
		position: relative;
		padding: 62px 33px 54px;
		background: #fdf6e6;
		border-radius: 5px;
		width: 628px;
		height: 304px;
	}
	&__title {
		font-weight: 600;
		font-size: 42px;
		line-height: 49px;

		color: #202020;
	}
	&__text {
		width: 311px;
		height: 37px;
		left: 115px;
		top: 3817.77px;

		font-family: "Nunito";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;

		color: #434343;
	}
	&__percent {
		display: flex;
		align-items: center;
	}
	&__FFF {
		font-weight: 800;
		font-size: 16px;

		color: #d2374a;
	}
	&__five {
		font-weight: 800;
		font-size: 48px;

		color: #d2374a;
	}

	&__img {
		position: absolute;
		right: 0;
		bottom: 10%;
	}
}
.position {
	position: relative;
	top: 0px;
}
