@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.site-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.site-box__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  /* identical to box height */
  color: #202020;
}
.site-box__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #d2374a;
}

.nav__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  /* or 312% */
  color: #202020;
}

.nav__item + .nav__item {
  margin-left: 31px;
}

.nav__list {
  display: flex;
}
.nav__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  /* or 312% */
  color: #202020;
}

.main {
  background-color: #d2374a;
  padding-bottom: 46px;
}

.category {
  padding-top: 46px;
}
.category__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category__item {
  width: 306px;
  height: 304px;
  position: relative;
  border: none;
}
.category__title {
  margin-bottom: 70px;
  margin-left: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
}
.category__img {
  position: absolute;
  right: 0;
  bottom: 10%;
}
.category__img-back {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.cash-back {
  padding-top: 50px;
}
.cash-back__box {
  position: relative;
  padding: 62px 33px 54px;
  background: #fdf6e6;
  border-radius: 5px;
  width: 628px;
  height: 304px;
}
.cash-back__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 49px;
  color: #202020;
}
.cash-back__text {
  width: 311px;
  height: 37px;
  left: 115px;
  top: 3817.77px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #434343;
}
.cash-back__percent {
  display: flex;
  align-items: center;
}
.cash-back__FFF {
  font-weight: 800;
  font-size: 16px;
  color: #d2374a;
}
.cash-back__five {
  font-weight: 800;
  font-size: 48px;
  color: #d2374a;
}
.cash-back__img {
  position: absolute;
  right: 0;
  bottom: 10%;
}

.company {
  padding-top: 46px;
}
.company__wrapper {
  display: flex;
}
.company__box:first-child {
  padding-right: 15px;
}
.company__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  /* identical to box height */
  color: #202020;
}
.company__cont {
  padding-top: 18px;
  width: 589.05px;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #202020;
}
.company__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #848484;
}
.company__button {
  padding: 14px 24px;
  border: none;
  background: #d2374a;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.company__span {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
}

.company__text + .company__text {
  margin-top: 35px;
}

.position {
  position: relative;
  top: 0px;
}/*# sourceMappingURL=style.css.map */